html {
  background-color: rgba(70, 59, 59, 0.259) !important;
}

#background-scroll {

}

#Scroll-Text {
  background-color: rgba(70, 59, 59, 0.259) !important;
  font-size: 55px;
  color: white;
  border: 5px solid white;
}

#main-header {
    background-color: rgba(70, 59, 59, 0.259) !important;
}


#stats-select {
  background-color: rgba(70, 59, 59, 0.259) !important;
  font-size: 35px;
}

#submit-button {
  background-color: rgba(70, 59, 59, 0.259) !important;
  font-size: 35px;
}

table, th, td {
  background-color: rgba(70, 59, 59, 0.259) !important;
  border: 5px solid white;
}


#table-locator {
  background-color: rgba(70, 59, 59, 0.259) !important;
  color: white;
  font-size: 45px;
}

#email {
  color: white;
}

#link {
  color: white;
}
#disclaimer{
  color: white;
}
